<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--API KEY de OpenWeatherMapApi-->
		<add key="DEMO_API_KEY" value="6418aa08508349a4d6ca911be8c38848"/>
		<!--Endpoint CurrentWeather por Nombre-->
		<add key="CURRENT_WEATHER_ENDPOINT" value="https://api.openweathermap.org/data/2.5/weather?q="/>
		<!--Ubicación archivo json de ciudades-->
		<add key="CITY_LIST" value="city.list.json"/>
	</appSettings>
</configuration>